.pdf-container::-webkit-scrollbar {
  display: none;
}
.zoom {
  border: 1px solid #ccc;
  background-color: #fff;
  color: #555;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  &:hover {
    background-color: rgb(229 231 235);
    color: #333;
  }
}

.edit {
  border: 1px solid #ccc;
  background-color: #fff;
  color: #555;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: rgb(229 231 235);
    color: #333;
  }
}

.pdf-container {
  min-height: 800px;
  max-width: 800px;
  max-height: 800px;
}
